<h1>Formulário para cadastrar pagamento</h1>
<form action="/add-pagamento" method="POST">
  <labe>Nome</labe>
  <input type="text" name="nome" ></br></br>

  <labe>Valor</labe>
  <input type="text" name="valor" ></br></br>

  <button type="submit">Cadastrar</button>
</form>